
<html>
    <head>
        <style>
            form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
        </style>
    </head>
<body>

<form id='login-form' action="" method='post'>
  <input type="text" name ="username" placeholder="Username" required>
  <input type="password" name = "password" placeholder="Password" required>
 <input type="submit" class="button" value="Log In"/>

</form>
</body>
</html>