body{
    background-color: beige;
    
}      
.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #fff;
    padding: 0;
}

.navbar-custom ul li a span{
    margin-left:5px;
}

.navbar-custom .dropdown-menu {
    margin-top:10px;
    display: block;
    visibility: hidden;
    opacity:0;
    border: 1px solid #ddd;
    border-top: 2px solid #68c3a3;
    border-radius: 0;
    border-bottom: 3px double #ddd;
    background-color: #FFFFFF;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition:all 400ms;
}

.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}
.navbar-custom .navbar-nav > li:hover .dropdown-menu{
    display: block;
    opacity:1;
    visibility: visible;
    margin-top:-2px;
}

.navbar-custom .navbar-nav > li > a{
    color: #282828;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.navbar-custom .dropdown-menu > li{
    border-bottom: 1px solid #F0F0F0;
}

.navbar-custom .dropdown-menu > li:last-child{
    border-bottom: 0;
}

.navbar-custom .dropdown-menu > li > a {
    padding: 10px 20px;
    color: #282828;
    font-size: 14px;
    font-weight: 700;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active > a {
    background: none;
    outline: 0;
    color: #68c3a3;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 18px;
}

.dtf{
    margin-left: 300px;
    width: 900px;
    height: 650px;
}
.dtf{
    
        object-fit: cover;
    background: url(11.jpg);
    background-repeat: no-repeat;
    background-size: 900px 600px;
    

}
.dtf h1{
    padding-top: 220px;
    color: aqua;
}




.tcontainer {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin-left: 300px;
    opacity : 1;
  animation : fadein 5s;
    position: absolute;
    width: 900px;
    margin-bottom: 20px;

}


.tcontainer img {
    display: inline-block;
    margin : 10px;
  border-radius: 5px;
height : 300px;
width:300px;
    float: right;
     animation : slidein 2s;
}
    .tcontainer p {
    font-size : 18px;
    line-height: 30px;
    margin : 40px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    }
.tcontainer input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
padding: 12px 20px;
    border: 2px solid red;
    border-radius: 4px;
}


























.abt{
    letter-spacing: 0.25em;
     font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    color: black;
    font-size: 20px;
    position: relative;
}
.abt h2:after {

    content:' ';
    position: absolute;
    display:block;
    width: 130px;
    margin-left: 700px;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
     
}  
.abtp{
    padding-left: 200px;
    padding-right: 200px;line-height: 1.5em;
    letter-spacing: 0.25em;
}


.cnt{
    letter-spacing: 0.25em;
}

.contact-form u  {
    letter-spacing: 0.25em;
}




.hom{
    
    width: 100%;
    height: 650px;

    
        object-fit: cover;
    background: url(run.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    

}
.hom h1{
    padding-top: 220px;
    color: aqua;
}
.butt{
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 650px;
    cursor: pointer;


}
    
